[flake8]
min_python_version = 3.7.0
max-line-length = 100
ban-relative-imports = true

# flake8-use-fstring: https://github.com/MichaelKim0407/flake8-use-fstring#--percent-greedy-and---format-greedy
format-greedy = 1
inline-quotes = double
extend-ignore =
    DUO116,

extend-exclude =
    # Frozen and not subject to change in this repo:
    chinstrap/core/templates.py