recursive-include chinstrap/core/sources/contracts *
recursive-include chinstrap/core/sources/tests *
recursive-include chinstrap/core/sources/originations *
recursive-include chinstrap/core/sources *
