[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
halo            = ">=0.0.31"
docker          = ">=5.0.3"
pytest          = ">=6.2.5"
pytezos         = ">=6.2.5"
requests        = ">=2.27.1"
ptpython        = ">=3.0.20"
python-gitlab   = ">=3.1.0"

[requires]
python_version = "3"